body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  h1, h2, h3 {
    color: #11574d;
  }

  p {
    line-height: 1.6;
  }

  #toggle-skills {
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #1da19b;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  #toggle-skills:hover {
    background-color: #33383d;
  }

  .hidden {
    display: none;
  }
  #button{
    margin: 10px 325px;
  }